<footer class="footer @@classes py-6 overflow-hidden">
    <div class="pattern top" data-negative="false">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.5 27.8" preserveAspectRatio="none">
            <path class="fill-white" d="M283.5,9.7c0,0-7.3,4.3-14,4.6c-6.8,0.3-12.6,0-20.9-1.5c-11.3-2-33.1-10.1-44.7-5.7	s-12.1,4.6-18,7.4c-6.6,3.2-20,9.6-36.6,9.3C131.6,23.5,99.5,7.2,86.3,8c-1.4,0.1-6.6,0.8-10.5,2c-3.8,1.2-9.4,3.8-17,4.7	c-3.2,0.4-8.3,1.1-14.2,0.9c-1.5-0.1-6.3-0.4-12-1.6c-5.7-1.2-11-3.1-15.8-3.7C6.5,9.2,0,10.8,0,10.8V0h283.5V9.7z M260.8,11.3	c-0.7-1-2-0.4-4.3-0.4c-2.3,0-6.1-1.2-5.8-1.1c0.3,0.1,3.1,1.5,6,1.9C259.7,12.2,261.4,12.3,260.8,11.3z M242.4,8.6	c0,0-2.4-0.2-5.6-0.9c-3.2-0.8-10.3-2.8-15.1-3.5c-8.2-1.1-15.8,0-15.1,0.1c0.8,0.1,9.6-0.6,17.6,1.1c3.3,0.7,9.3,2.2,12.4,2.7	C239.9,8.7,242.4,8.6,242.4,8.6z M185.2,8.5c1.7-0.7-13.3,4.7-18.5,6.1c-2.1,0.6-6.2,1.6-10,2c-3.9,0.4-8.9,0.4-8.8,0.5	c0,0.2,5.8,0.8,11.2,0c5.4-0.8,5.2-1.1,7.6-1.6C170.5,14.7,183.5,9.2,185.2,8.5z M199.1,6.9c0.2,0-0.8-0.4-4.8,1.1	c-4,1.5-6.7,3.5-6.9,3.7c-0.2,0.1,3.5-1.8,6.6-3C197,7.5,199,6.9,199.1,6.9z M283,6c-0.1,0.1-1.9,1.1-4.8,2.5s-6.9,2.8-6.7,2.7	c0.2,0,3.5-0.6,7.4-2.5C282.8,6.8,283.1,5.9,283,6z M31.3,11.6c0.1-0.2-1.9-0.2-4.5-1.2s-5.4-1.6-7.8-2C15,7.6,7.3,8.5,7.7,8.6	C8,8.7,15.9,8.3,20.2,9.3c2.2,0.5,2.4,0.5,5.7,1.6S31.2,11.9,31.3,11.6z M73,9.2c0.4-0.1,3.5-1.6,8.4-2.6c4.9-1.1,8.9-0.5,8.9-0.8	c0-0.3-1-0.9-6.2-0.3S72.6,9.3,73,9.2z M71.6,6.7C71.8,6.8,75,5.4,77.3,5c2.3-0.3,1.9-0.5,1.9-0.6c0-0.1-1.1-0.2-2.7,0.2	C74.8,5.1,71.4,6.6,71.6,6.7z M93.6,4.4c0.1,0.2,3.5,0.8,5.6,1.8c2.1,1,1.8,0.6,1.9,0.5c0.1-0.1-0.8-0.8-2.4-1.3	C97.1,4.8,93.5,4.2,93.6,4.4z M65.4,11.1c-0.1,0.3,0.3,0.5,1.9-0.2s2.6-1.3,2.2-1.2s-0.9,0.4-2.5,0.8C65.3,10.9,65.5,10.8,65.4,11.1	z M34.5,12.4c-0.2,0,2.1,0.8,3.3,0.9c1.2,0.1,2,0.1,2-0.2c0-0.3-0.1-0.5-1.6-0.4C36.6,12.8,34.7,12.4,34.5,12.4z M152.2,21.1	c-0.1,0.1-2.4-0.3-7.5-0.3c-5,0-13.6-2.4-17.2-3.5c-3.6-1.1,10,3.9,16.5,4.1C150.5,21.6,152.3,21,152.2,21.1z">
            </path>
        </svg>
    </div>
    <div class="container z-2">
        <div class="content">
            <div class="row mt-lg-7">
                <div class="col-md-5">
                    <a class="footer-brand mr-lg-5" href="@@path/index.html">
                        <img src="@@path/assets/img/brand/dark.svg" alt="Footer logo">
                    </a>
                    <p class="mt-4 text-gray">Because every Pixel matters.
                    </p>
                    <p class="text-gray">Follow us to get fresh updates and free tutorials:</p>
                    <ul class="social-buttons mb-5 mb-lg-0">
                        <li>
                            <a href="https://twitter.com/themesberg" class="btn btn-lg btn-link btn-twitter text-twitter"
                                data-toggle="tooltip" data-placement="top" title="Follow us on Twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/Themesberg-214738555737136/"
                                class="btn btn-lg btn-link btn-facebook text-facebook" data-toggle="tooltip"
                                data-placement="top" title="Like us on Facebook">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/themesberg" class="btn btn-lg btn-link btn-github text-github"
                                data-toggle="tooltip" data-placement="top" title="Star us on Github">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/themesberg"
                                class="btn btn-lg btn-link btn-dribbble text-dribbble" data-toggle="tooltip"
                                data-placement="top" title="Like us on Dribbble">
                                <i class="fab fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    <h6>Themesberg</h6>
                    <ul class="links-vertical">
                        <li><a class="text-gray" target="_blank" href="https://themesberg.com/blog">Blog</a></li>
                        <li><a class="text-gray" target="_blank" href="https://themesberg.com/products">Products</a></li>
                        <li><a class="text-gray" target="_blank" href="https://themesberg.com/about">About Us</a>
                        </li>
                        <li><a class="text-gray" target="_blank" href="https://themesberg.com/contact">Contact
                                Us</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 mb-5 mb-lg-0">
                    <h6>Pages</h6>
                    <ul class="links-vertical">
                        <li><a class="text-gray" href="@@path/index.html">Home</a></li>
                        <li><a class="text-gray" href="@@path/html/pages/blog-right-sidebar.html">Blog</a></li>
                        <li><a class="text-gray" href="@@path/html/pages/about-startup.html">About</a></li>
                        <li><a class="text-gray" href="@@path/html/pages/about-team.html">Team</a></li>
                        <li><a class="text-gray" href="@@path/html/pages/contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-5 mb-lg-0">
                    <h6>Other</h6>
                    <ul class="links-vertical">
                        <li><a class="text-gray" href="@@path/docs/introduction.html">Documentation
                                <span class="badge badge-sm badge-secondary ml-2">v2.1</span></a></li>
                        <li><a class="text-gray" href="@@path/docs/changelog.html">Changelog</a></li>
                        <li><a class="text-gray" target="_blank" href="https://themesberg.com/contact">Support</a></li>
                        <li><a class="text-gray" target="_blank" href="https://themesberg.com/licensing">License</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright mt-4 text-center">
            &#xA9; <span class="current-year"></span> <a href="https://themesberg.com">Themesberg</a>. All rights reserved.
        </div>
    </div>
</footer>