<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom @@classes">
        <div class="container position-relative">
            <a class="navbar-brand mr-lg-5" href="@@path/index.html">
                <img class="navbar-brand-dark" src="@@path/assets/img/brand/light.svg" alt="Logo light">
                <img class="navbar-brand-light" src="@@path/assets/img/brand/dark.svg" alt="Logo dark">
            </a>
            <div class="navbar-collapse collapse mr-auto" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="@@path/index.html">
                                <img src="@@path/assets/img/brand/dark.svg" alt="Themesberg logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="frontPagesDropdown" aria-expanded="false" data-toggle="dropdown">
                            Pages
                            <span class="fas fa-angle-down nav-link-arrow ml-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu px-0 py-2 p-lg-4" aria-labelledby="frontPagesDropdown">
                            <div class="row">
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">Main pages</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/about.html">About</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/pricing.html">Pricing</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/team.html">Team</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/services.html">Services</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/profile.html">Profile</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/contact.html">Contact</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block text-primary">Legal</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/legal.html">Legal center</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/terms.html">Terms & agreement</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block text-primary">Career</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/careers.html">Careers</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/career-single.html">Career Single</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">Landings</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/landing-app.html">App</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/landing-crypto.html">Crypto</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/landing-freelancer.html">Freelancer</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Support</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/support.html">Support center</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/support-topic.html">Support topic</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Blog</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/blog.html">Blog</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/blog-post.html">Blog post</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6 col-lg-4">
                                    <h6 class="d-block mb-3 text-primary">User</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/sign-in.html">Sign in</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/sign-up.html">Sign up</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/forgot-password.html">Forgot password</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/reset-password.html">Reset password</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Special</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/404.html">404 Not Found</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/500.html">500 Server Error</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/maintenance.html">Maintenance</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/coming-soon.html">Coming soon</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/pages/blank.html">Blank page</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="dashboardDropdown" aria-expanded="false" data-toggle="dropdown">
                            Dashboard
                            <span class="fas fa-angle-down nav-link-arrow ml-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu-sm px-0 py-2 p-lg-4" aria-labelledby="dashboardDropdown">
                            <div class="row">
                                <div class="col-6">
                                    <h6 class="d-block mb-3 text-primary">User dashboard</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/dashboard/account.html">My account</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/dashboard/settings.html">Settings</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/dashboard/security.html">Security</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Items</h6>
                                    <ul class="list-style-none">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/dashboard/my-items.html">My items</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/dashboard/edit-item.html">Edit item</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <h6 class="d-block mb-3 text-primary">Messaging</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/dashboard/messages.html">Messages</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/dashboard/single-message.html">Chat</a>
                                        </li>
                                    </ul>
                                    <h6 class="d-block mb-3 text-primary">Billing</h6>
                                    <ul class="list-style-none mb-4">
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/dashboard/billing.html">Billing details</a>
                                        </li>
                                        <li class="mb-2 megamenu-item">
                                            <a class="megamenu-link" href="@@path/html/dashboard/invoice.html">Invoice</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="componentsDropdown" aria-expanded="false" data-toggle="dropdown">
                            Components
                            <span class="fas fa-angle-down nav-link-arrow ml-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu-md p-0" aria-labelledby="componentsDropdown">
                            <div class="row g-0">
                                <div class="col-lg-6 bg-dark d-none d-lg-block pr-0 mr-3">
                                    <div class="px-0 py-3 text-center">
                                        <img src="@@path/assets/img/megamenu_image.png" alt="Pixel Components">
                                    </div>
                                    <div class="z-2 pb-3 text-center">
                                        <a href="@@path/html/components/all.html"  class="btn btn-outline-white animate-up-2 mb-2 mb-sm-0 mr-3">
                                            <span class="mr-1"><span class="fas fa-th-large"></span></span>
                                            All components
                                        </a>
                                        <a href="@@path/html/sections/all-sections.html" class="btn btn-tertiary animate-up-2 mb-2 mb-sm-0">
                                            <span class="mr-1"><span class="fas fa-pager"></span></span>
                                            All sections
                                        </a>
                                    </div>
                                </div>
                                <div class="col pl-0 py-3">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="@@path/html/components/accordions.html">Accordions</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/alerts.html">Alerts</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/badges.html">Badges</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/cards.html">Cards</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/charts.html">Charts</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/bootstrap-carousels.html">Bootstrap Carousels</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/breadcrumbs.html">Breadcrumbs</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/buttons.html">Buttons</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/counters.html">Counters</a></li>
                                    </ul>
                                </div>
                                <div class="col pl-0 py-3">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="@@path/html/components/dropdowns.html">Dropdowns</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/e-commerce.html">E-commerce</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/forms.html">Forms</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/icon-boxes.html">Icon Boxes</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/modals.html">Modals</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/navs.html">Navs</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/glidejs-carousels.html">GlideJS Carousels</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/pagination.html">Pagination</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/popovers.html">Popovers</a></li>
                                    </ul>
                                </div>
                                <div class="col pl-0 py-3">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="@@path/html/components/progress-bars.html">Progress Bars</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/steps.html">Steps</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/tables.html">Tables</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/tabs.html">Tabs</a> </li>
                                        <li><a class="dropdown-item" href="@@path/html/components/toasts.html">Toasts</a> </li>
                                        <li><a class="dropdown-item" href="@@path/html/components/timelines.html">Timelines</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/tooltips.html">Tooltips</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/typography.html">Typography</a></li>
                                        <li><a class="dropdown-item" href="@@path/html/components/widgets.html">Widgets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="supportDropdown" aria-expanded="false">
                            Support
                            <span class="fas fa-angle-down nav-link-arrow ml-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg" aria-labelledby="supportDropdown">
                            <div class="col-auto px-0">
                                <div class="list-group list-group-flush">
                                    <a href="https://themesberg.com/docs/pixel-bootstrap/getting-started/overview/" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-sm"><span class="fas fa-file-alt"></span></span>
                                        <div class="ml-4">
                                            <span class="d-block font-small font-weight-bold mb-0">Documentation<span class="badge badge-sm badge-secondary ml-2">v3.1</span></span>
                                            <span class="small">Examples and guides</span>
                                        </div>
                                    </a>
                                    <a href="https://themesberg.com/contact" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center p-0 py-3 px-lg-4">
                                        <span class="icon icon-sm"><span class="fas fa-microphone-alt"></span></span>
                                        <div class="ml-4">
                                            <span class="d-block font-small font-weight-bold mb-0">Support</span>
                                            <span class="small">Need help? Ask us!</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center">
                <a href="https://themesberg.com/docs/pixel-bootstrap/getting-started/overview/" target="_blank" class="btn btn-outline-soft d-none d-lg-inline mr-md-3 animate-up-2"><span class="fas fa-book mr-2"></span> Docs v4.0</a>
                <a href="https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit" target="_blank" class="btn btn-tertiary animate-up-2"><span class="fas fa-shopping-cart mr-2"></span> Buy now</a>
                <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>