<div class="col-12 col-md-4 d-none d-lg-block">
    <!-- Navigation -->
    <div class="card border-light p-2">
        <div class="card-header bg-white border-0 text-center">
            <div class="profile-thumbnail profile-thumbnail mx-auto">
                <img src="../../assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="Joseph Portrait">
            </div>
            <h2 class="h5 mt-3">Hi, Bonnie!</h2>
            <a href="#" class="btn btn-gray btn-xs"><span class="mr-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
        </div>
        <div class="card-body p-2">
            <div class="list-group dashboard-menu list-group-sm">
                <a href="./account.html" class="d-flex list-group-item border-0 list-group-item-action @@if (context.page === 'account') { active }">Overview <span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                <a href="./settings.html" class="d-flex list-group-item border-0 list-group-item-action @@if (context.page === 'settings') { active }">Settings<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                <a href="./my-items.html" class="d-flex list-group-item border-0 list-group-item-action @@if (context.page === 'items') { active }">My Items<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                <a href="./security.html" class="d-flex list-group-item border-0 list-group-item-action @@if (context.page === 'security') { active }">Security<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                <a href="./billing.html" class="d-flex list-group-item border-0 list-group-item-action @@if (context.page === 'billing') { active }">Billing<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
                <a href="./messages.html" class="d-flex list-group-item border-0 list-group-item-action @@if (context.page === 'messages') { active } border-0">Messages<span class="icon icon-xs ml-auto"><span class="fas fa-chevron-right"></span></span> </a>
            </div>
        </div>
    </div>
</div>
<div class="col-12 d-lg-none">
    <div class="card bg-white border-light mb-4 mb-lg-5">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-10 d-flex">
                    <a href="./account.html" class="list-group-item list-group-item-action border-0 text-center mr-2 @@if (context.page === 'account') { active }">Overview</a>
                    <a href="./settings.html" class="list-group-item list-group-item-action border-0 text-center mr-2 @@if (context.page === 'settings') { active }">Settings</a>
                    <a href="./my-items.html" class="list-group-item list-group-item-action border-0 text-center mr-2 d-none d-sm-block border-0 @@if (context.page === 'items') { active }">My Items</a>
                    <a href="./security.html" class="list-group-item list-group-item-action border-0 text-center d-none d-md-block border-0 @@if (context.page === 'security') { active }">Security</a>
                </div>
                <div class="col-2 d-flex justify-content-center">
                    <div class="btn-group dropleft">
                        <button class="btn btn-link dropdown-toggle dropdown-toggle-split mr-2 m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm">
                                <span class="fas fa-ellipsis-h icon-secondary fa-lg"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a href="./my-items.html" class="list-group-item list-group-item-action d-sm-none border-0 @@if (context.page === 'items') { active }">My Items</a>
                            <a href="./security.html" class="list-group-item list-group-item-action d-md-none border-0 @@if (context.page === 'security') { active }">Security</a>
                            <a href="./billing.html" class="list-group-item list-group-item-action border-0 @@if (context.page === 'billing') { active }">Billing</a>
                            <a href="./messages.html" class="list-group-item list-group-item-action border-0 @@if (context.page === 'messages') { active }">Messages</a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>